$cor-azul-claro:rgb(34, 193, 195);
$cor-azul-escuro: rgba(45, 117, 253, 1);
$cor-azul-escuro-hover: rgb(19, 97, 243);
$cor-branco:aliceblue;
$cor-cinza-claro:#ccc;
$cor-cinza:#666;
$cor-cinza-escuro:#444;
$cor-rosa:#9747FF;
$cor-preta:black;
$cor-preto-claro:#1E1F28;
$cor-fundo-btn:#343a40;
$fonte-principal: 'inter', sans-serif;
$sombra:0 20px 20px 0 rgba(0, 0, 0, 0.3);
$peso-padrao:600;
