@use "variaveis";
@use "placeholders";
@use "mixins";

body {
    @extend %fundo-pagina;

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    
    .body-loader {
        @include mixins.width_height(100%, 100%);
        @extend %flexivel-centralizado;
        @extend %corpo-carregamento;
        @extend %carregamento;

    }

    .page {
        @extend %flexivel-centralizado;
        @include mixins.width_height(100%, 98vh);

        .card {
            @extend %card-login;
        }
    }

    aside {

        .menu {

            background-color: variaveis.$cor-preta;

            .navbar-logo {
                font-size: 50px;

                @media (max-width: 767px) {
                    font-size: 40px;
                }
            }

            .collapse {

                .navbar-item {
                    font-size: 25px;
                }

                button {
                    background: variaveis.$cor-preta;
                }

                @media (max-width: 767px) {

                    form {

                        display: flex;
                        flex-wrap: nowrap;
                        gap: 10px;

                        button {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .container-filmes {
        margin: 4%;

        .lista-de-Filmes {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 30px;

            @media (max-width: 767px) {
                flex-wrap: wrap;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
            }

            .card {

                @extend %card-filme;

                .sessao-1 {
                    @extend %flexivel-space-between;
                    align-self: stretch;
                    gap: 3px;

                    .titulo {
                        @include mixins.tamanho_letra_e_cor(16px, var(--Cores-Branco, #FFF));
                        white-space: nowrap;
                        // line-height: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .nota {
                        @include mixins.tamanho_letra_e_cor(20px, var(--Cores-Amarelo, #FEEA35));
                        line-height: 14.408px;
                        @include mixins.flexivel-space-between-gap(10px);
                    }
                }

                .poster {
                    border-radius: 10px;
                    @include mixins.width_height(194px, 288px);

                    &:hover {
                        opacity: 0.8;
                    }

                }

                .informacoes-adicionais {

                    @extend %flexivel-space-between;
                    @include mixins.tamanho_letra_e_cor(12px, var(--Cores-Cinza-Light, #8B8D9B));
                    width: 100%;

                    .duracao,
                    .ano-lancamento {
                        @include mixins.flexivel-centralizado-gap(4px);
                    }

                    button {
                        @include mixins.flexivel-space-between-gap(5px);
                    }

                    img {
                        @include mixins.width_height(20px, 20px);
                    }
                }

                .btn-card {
                    @include mixins.flexivel-centralizado-gap(15px);

                    width: 100%;
                    border-radius: 4px;
                    background: var(--Cores-Cinza, #2B2B37);
                    cursor: pointer;
                    border: none;

                    &:hover {
                        background-color: variaveis.$cor-fundo-btn;
                    }

                    p {
                        @include mixins.tamanho_letra_e_cor(16px, var(--Cores-Branco, #FFF));
                        text-wrap: nowrap;
                        padding-top: 15px;
                    }
                }
            }
        }
    }

    form {
        @extend %flexivel-coluna;
        gap: 1px;

        .campo {
            padding: 10px;
            border: 1px solid variaveis.$cor-cinza-claro;
            border-radius: 7px;
            transition: all linear 190ms;
            margin-bottom: 5px;
            outline: none;

            @include mixins.tamanho_letra_e_cor(0.9rem, variaveis.$cor-cinza-escuro);

            &::placeholder {
                color: variaveis.$cor-cinza;
            }

            &:focus {
                border-color: variaveis.$cor-azul-claro;
            }

            @media (max-width: 767px) {
                @include mixins.tamanho_letra_e_cor(1.0rem, variaveis.$cor-cinza-escuro);
            }

        }

        @media (max-width: 767px) {

            .link-modal {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                a {
                    font-size: 1.0rem;
                }
            }
        }

        input[type="file"] {
            border: none;
            color: variaveis.$cor-branco;
        }
    }

    .informacoes-filme {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 5px;

        .informacoes-filme-selecionado {
            display: flex;
            gap: 10px;

            .poster {
                border: 2px solid var(--Gradientes-Gradiente-Logo, #9747FF);
                background: var(--Cores-Cinza-Dark, #1E1F28);
                box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
                border-radius: 10px;
                max-width: 300px;
                max-height: 400px;
                &:hover {
                    opacity: 0.8;
                }
            }

            .filme-Titulo {
                font-size: 1.5rem;
            }

            .descricao {
                text-align: justify;
                margin-top: 20px;
            }

            .icons{
                @include mixins.width_height(20px, 20px);
            }
        }

    }

    .btn {
        background-color: variaveis.$cor-preto-claro;
        padding: 15px;
        border: none;
        color: variaveis.$cor-branco;
        border-radius: 7px;
        margin-top: 20px;
        cursor: pointer;
        transition: all linear 190ms;

        &:hover {
            transform: scale(1.05);
            // background-color: variaveis.$cor-azul-escuro-hover;
        }
    }

    .hidden {
        opacity: -0.5;
        color: variaveis.$cor-preto-claro;
        background-color: variaveis.$cor-preto-claro;
    }

    .grow {
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    span {
        color: variaveis.$cor-branco;
    }

    .modal-content {
        border-radius: 10px;
        border: 2px solid var(--Gradientes-Gradiente-Logo, #9747FF);
        border-radius: 10px;
        background-color: variaveis.$cor-fundo-btn;
        color: variaveis.$cor-branco;

        .modal-body,
        .modal-header,
        .modal-footer {
            border: none;
        }

        .modal-footer {
            @extend %flexivel-centralizado;

            .btn-novo {
                width: 100%;
                margin-top: 0;
            }
        }
    }

    p {
        @include mixins.tamanho_letra_e_cor(0.9rem, variaveis.$cor-branco);
        text-align: center;
        text-decoration: none;
    }

    a {
        @include mixins.tamanho_letra_e_cor(0.9rem, variaveis.$cor-rosa);
    }

    h2 {
        // font-weight: variaveis.$peso-padrao;
        @include mixins.tamanho_letra_e_cor(1.8rem, variaveis.$cor-branco);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}